<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FrogBloggerContainer" connectionString="metadata=res://*/FrogBlogger.csdl|res://*/FrogBlogger.ssdl|res://*/FrogBlogger.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SEANFAOLP1\SQLEXPRESS;Initial Catalog=FrogBlogger;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FrogBloggerEntities" connectionString="metadata=res://*/FrogBlogger.csdl|res://*/FrogBlogger.ssdl|res://*/FrogBlogger.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SEANFAOLP1\SQLEXPRESS;Initial Catalog=FrogBlogger;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>