body {
	margin: 0px;
	padding: 0px;
	background: url('/Content/Images/img01.jpg') repeat-x left top;
	font: 13px Arial, Helvetica, sans-serif;
	color: #212121;
}

h1, h2, h3 
{
    color: #175500;
	margin-top: 0px;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.4em;
}

legend
{
    background-color: #eee;
    border: 1px solid #699c4d;
    font-size: 1.2em;
    margin-left: 10px;
    padding: 2px 5px;
}

p, ol, ul {
	margin-bottom: 1.8em;
	line-height: 160%;
}

a {
	color: #175500;
}

a:hover {
	text-decoration: none;
	color: #FF0000;
}

a img {
	border: none;
}

th
{
    text-align: left;
}

/* Header */
#header {
	width: 900px;
	height: 130px;
	margin: 0px auto;
	background: #699c4d;
}

#header a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Logo */
#logo {
	float: left;
	background: url('/Content/Images/Logo.png') no-repeat left top;
	padding-left: 70px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
}

#logo h1 {
	padding: 25px 0px 0px 0px;
}

#logindisplay 
{
    float: right;
}

/* Menu */
#menu 
{
    background: #243F12;
	border-top: 2px #9BC56F solid;
	clear: both;
	float: right;
	margin: -45px 0 0 0;
}

#menu ul {
	margin: 0px 0 0 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	margin: 0px 0px 0px 1px;
}

#menu a {
	display: block;
	width: auto;
	height: 28px;
	padding: 12px 20px 0px 20px;
	background: url('/Content/Images/img02.jpg') no-repeat right 50%;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .first {
	background: none;
}

#menu .active a {
}

/* Page */

#page {
	width: 900px;
	margin: 0px auto;
	padding: 30px 0px;
}

/* Content */

#content {
	float: left;
	width: 570px;
}

#contentWide
{
    float: left;
    width: 900px;
}

.post 
{
	margin: 0px 0px 30px 0px;
}

.title {
	border-bottom: #BFC9AE solid 1px;
	color: #232F01;
	font-size: 1.05em;
	font-weight: bold;
	margin: 0px;
	padding: 0px 0px 5px 0px;
}

.post .title a {
	color: #232F01;
}

.post .entry {
}

.post .meta {
	font-weight: bold;
}

.post .author 
{
    font-size: .75em;
	margin: 0px;
}

/* Sidebar */
#sidebar {
	float: right;
	width: 300px;
}

#sidebar-bgtop {
	height: 3px;
}

#sidebar-bgbtm {
	height: 3px;
}

#sidebar-content {
	padding: 20px;
}

#sidebar ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#sidebar li ul {
	margin-bottom: 1.8em;
	padding-left: 20px;
	list-style: none;
}

#sidebar h2 {
	padding: 4px 20px;
	background: #699C4D;
	font-size: 1.2em;
	color: #FFFFFF;
}

#sidebar a {
	text-decoration: none;
	color: #232F01;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Search */
#search {
}

#search form {
	margin-bottom: 1.8em;
	padding: 0px;
}

#search fieldset {
	margin: 0px;
	padding: 0px;
	border: none;
}

#search #s {
	width: 160px;
}

/* Comments */
#leaveComment
{
    background: #eee;
    border: solid 2px #699c4d;
    display: block;
    margin: 10px 0 10px 0;
    width: 400px;
}

#leaveComment label
{
    float: left;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
    text-align: left;
    width: 75px;
}

#leaveComment em
{
    color: #f00;
    font-style: normal;
    font-weight: bold;
}


#leaveComment input
{
    margin: 5px 0px 5px 3px;
    width: 315px;
}

#leaveComment .button
{
    width: auto;
}

#leaveComment textarea
{
    height: 100px;
    margin-left: 4px;
    width: 388px;
}

.comment
{
    background-color: #eee;
}

/* Blog Stats */
#blogStats
{
    float: right;
    margin-bottom: 10px;
}

/* Footer */
#footer {
	clear: both;
	width: 900px;
	height: 50px;
	margin: 0px auto 30px auto;
	color: #FFFFFF;
	background: #699C4D;
}

#footer p {
	margin: 0px;
	padding: 19px 0px 0px 0px;
	text-align: center;
	line-height: normal;
	font-size: smaller;
}

#footer a {
	color: #FFFFFF;
}